---

---

<footer class="bg-primary text-center text-white text-md py-5">
	<p>
		© 2024, Built by <a
			class="underline underline-offset-4 cursor-pointer hover:scale-90 inline-block transition-all duration-500 ease-in-out"
			href="https://github.com/snape-lab">Snape's Lab</a
		>
	</p>
</footer>
