---
import { navLinks } from '../content/page';
import NavLink from './NavLink.astro';
---

<nav class="flex w-full justify-between mb-4">
	<div>
		<a
			href="/"
			class="font-bold font-heading text-3xl text-primary tracking-widest"
			>The Cosmic Store</a
		>
	</div>
	<div class="flex gap-4">
		{navLinks.map((navLink) => <NavLink navLinkProp={navLink} />)}
	</div>
</nav>
