---
import { navLinks } from '../content/page';
import NavLink from './NavLink.astro';
import SearchBox from './SearchBox.astro';
---

<nav
	class="flex flex-row-reverse md:flex-row w-full justify-between md:justify-between items-center"
>
	<!-- hamburger menu -->
	<button
		class="md:hidden flex items-center gap-2 text-xl text-gray-500 hover:text-gray-700"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="h-6 w-6"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M4 6h16M4 12h16M4 18h16"></path>
		</svg>
	</button>
	<a href="/" class="block">
		<img src="/logo.svg" class="h-16 w-auto" alt="logo" />
	</a>

	<div class="hidden lg:block">
		<SearchBox />
	</div>

	<div class="md:flex gap-4 hidden">
		{
			navLinks
				.filter((navLink) => !navLink.disabled)
				.map((navLink) => <NavLink navLinkProp={navLink} />)
		}
	</div>
</nav>

<script>
	const navBar = document.querySelector('nav');
	const hamburger = document.querySelector('button');

	const hoveringNavBar = document.querySelector('#hovering-nav-bar');

	hamburger?.addEventListener('click', () => {
		hoveringNavBar?.classList.toggle('hoveringNavBar__Closed');
	});
</script>
