---
import ProductsGrid from '../components/ProductsGrid.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Layout from './MainLayout.astro';

const { title, products } = Astro.props as {
	title: string;
	products: Product[];
};
---

<Layout title={title}>
	<main class="py-4 flex flex-col gap-8">
		<SectionHeading title={title} />
		<ProductsGrid products={products} />
	</main>
</Layout>
